@model SoftLineTest.Models.ViewModels.TaskVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Task.Id" />
            <div class="form-group">
                <label asp-for="Task.Name" class="control-label"></label>
                <input asp-for="Task.Name" class="form-control" />
                <span asp-validation-for="Task.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <input asp-for="Task.Description" class="form-control" />
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group row py-2">
                <div class="col-4">
                    <label asp-for="Task.StatusId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Task.StatusId" asp-items="@Model.StatusSelectList" class="form-select">
                        <option disabled selected>--Select Status--</option>
                    </select>
                    <span asp-validation-for="Task.StatusId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
